.button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 34px 120px;
  background-color: #0089f2;
  border-radius: 40px;
  transition: .7s liner;
  @include phones {
    font-size: 12px;
    padding: 4vh 30%;
  }
}

.button:hover {
  background: linear-gradient(to left,#5500f2,#0089f2);
}