.direction-button {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.direction-button__pic {
  width: 15px;
  height: 15px;
  fill: white;
}

.direction-button--next .direction-button__pic {
  transform: rotate(180deg);
}

.direction-button--circled {
  border: 1px solid #2d3c4e;
  border-radius: 50%;
}

.direction-button[disabled] {
  display: none;
}