.file-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-load__title {
  width: 48%;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: gray;
}

.file-load__button {
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 25px;
  background: linear-gradient(to right, #1658e1,#3f35cb);
  color: white;
}