.group {
  width: 31%;
  min-height: 48.7vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  @include tablets {
    min-height: 45vh;
    width: 47%;
    margin-left: 3%;
  }
  @include phones {
    width: 100%;
  }
}
