.admin-wrapper .header {
  background-color: #3f3f5d;
  color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 1.7vh 2.5%;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header__buttons {
  display: flex;
  align-items: center;
}