.admin-wrapper .header {
  background-color: #3f3f5d;
  color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 2.1vh 2.5%;
}

.header__info {
  display: flex;
  align-items: center;
    @include phones {
    flex-direction: column;
  }
}

.header__user {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.header__buttons {
  display: flex;
  align-items: center;
}