.menu__list {
  display: flex;
  padding-left: 28px;
}

.menu__link {
  display: flex;
  padding: 26px 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  color: #383bcf;
  border-bottom: 2px solid #383bcf;
}