.nav__list {
  display: flex;
}

.nav__link {
  display: inline-flex;
  padding: 40px 32px;
  border-bottom: 3px solid transparent;
}

.nav__link:hover {
  color: #ff9d00;
  font-weight: 600;
  border-bottom-color: #ff9d00;
  transition: border-bottom-color .7s;
}

.hero__menu .nav {
  @include tablets {
    display: none;
  }
}