.socials__list {
  display: flex;
}

.socials__icon {
  width: 27px;
  height: 27px;
}

.socials__item {
  margin-right: 40px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  fill: #534d5d;
}