.socials__list {
  display: flex;
  @include desktop {
    justify-content: flex-end;
    margin-right: 16%;
  }
}

.socials__link:hover {
  .socials__icon {
    fill: white;
  }
}

.socials__icon {
  width: 27px;
  height: 27px;
}

.socials__item {
  margin-right: 40px;
  @include tablets {
    margin-right: 4%;
  }
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  fill: #534d5d;
}

.socials__link:hover .socials__icon {
  fill: #ff9d00;
}