.tags {
  display: flex;
}

.tags__item {
  padding: 14px 19px;
  background-color: #ebeff3;
  border-radius: 22.5px;
  margin-right: 10px;
  @include desktop {
    margin-right: 6%;
  }
}

.tags__item:last-child {
  margin-right: 0;
}