.triangles {
  display: flex;
  margin-top: -155px;
}

.triangles__item {
  display: block;
  height: 130px;
  fill: white;
}

.triangles__item:first-child {
  width: 78%;
}

.triangles__item:last-child {
  width: 22%;
}