.triangles {
  display: flex;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.triangles__item {
  display: block;
  height: 130px;
  fill: white;
  @include tablets {
    height: auto;
  }
}

.triangles__item:first-child {
  width: 78%;
}

.triangles__item:last-child {
  width: 22%;
}