.works {
  background-color: #f8f8f8;
}

.works__container {
  padding: 116px 0 150px 0;
  @include desktop {
    padding-left: 2%;
    padding-top: 11vh;
    padding-bottom: 2.5vh;
  }
  @include tablets {
    padding-bottom: 19.5vh;
  }
}

.works .section-title {
  @include desktop {
    margin-bottom: 6vh;
  }
}