include ./../mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | admin
  body
    .wrapper.admin-wrapper
      .maincontent
        header.header
          .container.header__container
            .header__info
              .user.header__user
                .user__avatar.user__avatar--small
                  +image("content/user.jpg","user__avatar-pic")
                .user__name Роман Усков
              .user__title Панель администратора
            .header__buttons
              a.exit-button Выйти
        nav.menu
          .container.menu__container
            ul.menu__list
              li.menu__item
                a(href="#").menu__link Обо мне
              li.menu__item
                a(href="#").menu__link Работы
              li.menu__item
                a(href="#").menu__link Отзывы
        main.main.admin__main
          .container.main__container
            section.about
              .container.section-container
                .about__top
                  h2.section-title.section-title--black.section-title--small Обо мне
                  button.add-button Добавить группу
                .about__content
                  ul.about__groups-list
                    li.about__groups-item.group
                      form.form.about__form(action="")
                        .form__wrapper
                          .form__top
                            .form__row
                              .form__block
                                input(placeholder="Название новой группы").form__block-field.form__block-field--bottomborder
                              .form__buttons
                                button.save-button
                                button.cancel-button
                          .form__bottom
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="Новый навык")
                              .form__block
                                input.form__block-field(type="text" placeholder="100")
                                span.form__block-precent %
                              .control-buttons
                                button.add-button
                    li.about__groups-item.group
                      form.form.about__form(action="")
                        .form__wrapper
                          .form__top
                            .form__row
                              .form__block
                                input(placeholder="Frontend").form__block-field
                              .form__buttons
                                button.save-button
                                button.cancel
                          .form__content
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="Html5")
                              .form__block
                                input.form__block-field(type="text" placeholder="100")
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                button.delete-button
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="CSS3")
                              .form__block
                                input.form__block-field(type="text" placeholder="90")
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                button.delete-button
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="Javascript")
                              .form__block
                                input.form__block-field(type="text" placeholder="80")
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                button.delete-button
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="Jquery и Vue.js")
                              .form__block
                                input.form__block-field(type="text" placeholder="85")
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                button.delete-button
                          .form__bottom
                            .form__row
                              .form__block
                                input.form__block-field(type="text" placeholder="Новый навык")
                              .form__block
                                input.form__block-field(type="text" placeholder="100")
                                span.form__block-precent %
                              .control-buttons
                                  button.add-button
            section.works
              .container.works__container
                h2.section-title.section-title--black.section-title--small Блок "Работы"
                form.form.works__form(action="")
                  .form__wrapper
                    h3.form__title Редактирование работы
                    .divider
                    .form__content.form__content--row
                      .form__content-left
                        .form__row
                          .form__block
                            input.form__block-field(type="file")
                      .form__content-right
                        .form__row
                          label.form__block.form__block--full-width
                            span.form__block-title Название
                            input.form__block-field(type="text" placeholder="")
                        .form__row
                          label.form__block.form__block--full-width
                            span.form__block-title Ссылка
                            input.form__block-field(type="link" placeholder="")
                        .form__row
                          label.form__block.form__block--full-width
                            span.form__block-title Описание
                            textarea.form__block-field(type="link" placeholder="")
                        .form__row.form__row--vertical
                          label.form__block.form__block--full-width
                            span.form__block-title Добавление тэга
                            input.form__block-field(type="link" placeholder="")
                          tags
                            ul.tags__list
                              li.tags__item HTML5
                              li.tags__item CSS
                              li.tags__item Javascript
                        .form__buttons
                          button.cancel-button Отмена
                          button.save-button Сохранить
                .works__content
                  ul.works__list
                    li.works__item.works__item--template
                      .template
                        a.works__template-link(href="")
                        .works__template-title Добавить работу
                    li.works__item.work
                      .work__display
                        .work__picture
                          img.work__picture-img(src="" alt="")
                        .work__tags
                          .tags
                            ul.tags__list
                              li.tags__item HTML5
                              li.tags__item CSS
                              li.tags__item Javascript
                      .work__info
                        .work__content
                          .work__title Сайт школы образования
                          .work__desc
                            p Этот парень ...
                          a(href="#").work__link
                        .control-buttons
                          button.edit-button Править
                          button.delete-button Удалить
            section.reviews
              .container.reviews__container
                h2.section-title Блок "Отзывы"
                hr.divider
                form.form.reviews__form(action="")
                  h3.form__title Новый отзыв
                  .form__content
                    .form__content-left
                      .user__avatar
                        .user__avatar-pic
                      a.user__avatar-link
                    .form__content-right
                      .form__row
                        label.form__block
                          span.form__block-title Имя автора
                          input.form__block-field(type="text")
                      .form__row
                        label.form__block
                          span.form__block-title Титул автора
                          input.form__block-field(type="text")
                      .form__row
                        label.form__block
                          span.form__block-title Отзыв
                          textarea.form__block-field
                        .control-buttons
                          button.edit-button Править
                          button.delete-button Удалить
                .reviews__content
                  .template
                    a.works__template-link(href="")
                    .works__template-title Добавить Отзыв
                  ul.reviews__list
                    li.reviews__item.review
                      .user.review__user
                        .user__avatar
                          img.user__avatar-pic
                        .user__info
                          .user__info-name Владимир Сабанцев
                          .user__info-occupation Преподаватель
                      hr.divider
                      .review__commentary
                        p Этот парень..
                      .control-buttons
                        button.edit-button Править
                        button.delete-button Удалить