include ./../mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | admin
  body
    .wrapper.admin-wrapper
      .maincontent
        header.header
          .container.header__container
            .header__info
              .user.header__user
                .user__avatar.user__avatar--small
                  +image("content/user.jpg","user__avatar-pic")
                .user__name Роман Усков
              .user__title Панель администратора
            .header__buttons
              a.exit-button Выйти
        nav.menu
          .container.menu__container
            ul.menu__list
              li.menu__item
                a(href="#").menu__link Обо мне
              li.menu__item
                a(href="#").menu__link Работы
              li.menu__item
                a(href="#").menu__link Отзывы
        main.main.admin__main
          .container.main__container
            section.about
              .container.section-container
                .about__top
                  h2.section-title.section-title--black.section-title--small Обо мне
                  button(id="add-button").add-button.add-button--small
                  label.add-button__label(for="add-button" style="color: black") Добавить группу
                .about__content
                  ul.about__groups-list
                    li.about__groups-item.group
                      form.form.about__form(action="")
                        .form__wrapper
                          .form__top
                            .form__row
                              .form__block.form__block--halfwidth
                                input(placeholder="Название новой группы").form__block-field.form__block-field--bottomline.form__block-field--semibold
                              .form__buttons
                                button.save-button
                                  +icon('tick','save-button__pic')
                                button.cancel-button
                                  +icon('remove','cancel-button__pic')
                            hr.form__hr
                          .form__bottom
                            .form__row.form__row--halfwidth
                              .form__block
                                input.form__block-field.form__block-field--padding.form__block-field--bottomline(type="text" placeholder="Новый навык")
                              .form__block.form__block-percents
                                input.form__block-field.form__block-field--padding.form__block-field--bottomline(type="text" placeholder="100")
                                span.form__block-percent %
                              .control-buttons
                                button.add-button
                    li.about__groups-item.group
                      form.form.about__form(action="")
                        .form__wrapper
                          .form__top
                            .form__row
                              .form__block.form__block--halfwidth
                                input(placeholder="Workflow" disabled).form__block-field.form__block-field--bottomline.form__block-field--semibold
                              .form__buttons
                                button.save-button
                                  +icon('tick','save-button__pic')
                                button.cancel-button
                                  +icon('remove','cancel-button__pic')
                            hr.form__hr
                          .form__content
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Git" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="100" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Terminal" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="90" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Gulp" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="80" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Webpack" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="85" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                          .form__bottom
                            .form__row.form__row--halfwidth
                              .form__block
                                input.form__block-field.form__block-field--padding.form__block-field--bottomline(type="text" placeholder="Новый навык")
                              .form__block.form__block-percents
                                input.form__block-field.form__block-field--bottomline(type="text" placeholder="100")
                                span.form__block-percent %
                              .control-buttons
                                  button.add-button
                    li.about__groups-item.group
                      form.form.about__form(action="")
                        .form__wrapper
                          .form__top
                            .form__row
                              .form__block.form__block--halfwidth
                                input(placeholder="Frontend" disabled).form__block-field.form__block-field--bottomline.form__block-field--semibold
                              .form__buttons
                                button.save-button
                                  +icon('tick','save-button__pic')
                                button.cancel-button
                                  +icon('remove','cancel-button__pic')
                            hr.form__hr
                          .form__content
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Html5" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="100" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="CSS3" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="90" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Javascript" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="80" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                            .form__row
                              .form__block.form__block-title
                                input.form__block-field(type="text" placeholder="Jquery и Vue.js" disabled)
                              .form__block.form__block-percents
                                input.form__block-field(type="text" placeholder="85" disabled)
                                span.form__block-percent %
                              .control-buttons
                                button.edit-button
                                  +icon('pencil','edit-button__pic')
                                button.delete-button
                                  +icon('trash','delete-button__pic')
                          .form__bottom
                            .form__row.form__row--halfwidth
                              .form__block.form__block-field--bottomline
                                input.form__block-field.form__block-field--padding(type="text" placeholder="Новый навык")
                              .form__block.form__block-percents
                                input.form__block-field.form__block-field--bottomline(type="text" placeholder="100")
                                span.form__block-percent %
                              .control-buttons
                                  button.add-button
            section.works
              .container.works__container
                h2.section-title.section-title--black.section-title--small Блок "Работы"
                form.form.works__form(action="")
                  .form__wrapper
                    h3.form__title Редактирование работы
                    .divider
                    .form__content.form__content--row
                      .form__content-left
                        .form__row
                          label.form__block.form__block--file
                            div.form__block-field--visual.file-load
                              .file-load__title Перетащите или загрузите для загрузки изображения
                              button.file-load__button Загрузить
                            input.form__block-field(type="file")
                      .form__content-right
                        .form__row
                          label.form__block.form__block--fullwidth.form__block--bottomline.form__block--vertical
                            span.form__block-title Название
                            input.form__block-field.form__block-field--bottompadding(type="text" placeholder="")
                        .form__row
                          label.form__block.form__block--fullwidth.form__block--bottomline.form__block--vertical
                            span.form__block-title Ссылка
                            input.form__block-field.form__block-field--bottompadding(type="link" placeholder="")
                        .form__row
                          label.form__block.form__block--fullwidth.form__block--vertical
                            span.form__block-title Описание
                            textarea.form__block-field.form__block-field--bordered(type="link" placeholder="")
                        .form__row.form__row--vertical
                          label.form__block.form__block--fullwidth.form__block--bottomline.form__block--vertical
                            span.form__block-title Добавление тэга
                            input.form__block-field.form__block-field--bottompadding(type="link" placeholder="")
                          tags
                            ul.tags__list
                              li.tags__item HTML5
                              li.tags__item CSS
                              li.tags__item Javascript
                        .form__buttons
                          button.cancel-button.cancel-button--purple Отмена
                          button.save-button.save-button--purple Сохранить
                .works__content
                  ul.works__list
                    li.works__item.works__item--template
                      .template
                        button.add-button.add-button--big-bordered
                        .works__template-title Добавить работу
                    li.works__item.work
                      .work__display
                        .work__picture
                          +image("content/slider/preview-1.png","work__picture-pic")
                        .work__tags
                          .tags
                            ul.tags__list
                              li.tags__item HTML5
                              li.tags__item CSS
                              li.tags__item Javascript
                      .work__info
                        .work__content
                          .work__title Сайт школы образования
                          .work__desc
                            p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                          a(href="#").work__link https://loftschool.com
                        .control-buttons
                          button.edit-button 
                            span.edit-button__text Править
                            +icon('pencil','edit-button__pic edit-button__pic--purple')
                          button.delete-button 
                            span.delete-button__text Удалить
                            +icon('remove','delete-button__pic delete-button__pic--red')
            section.reviews
              .container.reviews__container
                h2.section-title Блок "Отзывы"        
                form.form.reviews__form(action="")
                  .form__wrapper
                    h3.form__title Новый отзыв
                    .divider   
                    .form__content
                      .form__content-left
                        .user__avatar.user__avatar--big.user__avatar--blue
                          +icon('user','user__avatar-icon')
                        label.form__block.form__block--vertical
                          input.form__block-field.form__block-field--hidden(type="file")
                          a.user__avatar-link Добавить фото
                      .form__content-right
                        .form__row
                          label.form__block.form__block--vertical.form__block--bottomline.form__block--fullwidth
                            span.form__block-title Имя автора
                            input.form__block-field.form__block-field--bottompadding(type="text")
                        .form__row
                          label.form__block.form__block--vertical.form__block--bottomline.form__block--fullwidth
                            span.form__block-title Титул автора
                            input.form__block-field.form__block-field--bottompadding(type="text")
                        .form__row
                          label.form__block.form__block--vertical.form__block--fullwidth
                            span.form__block-title Отзыв
                            textarea.form__block-field.form__block-field--bordered
                        .form__buttons
                          button.cancel-button.cancel-button--purple Отмена
                          button.save-button.save-button--purple Сохранить
                .reviews__content.reviews__content--fullwidth
                  ul.reviews__list
                    li.reviews__item
                      .template
                        button.add-button.add-button--big-bordered
                        .works__template-title Добавить Отзыв
                    li.reviews__item.review
                      .user.review__user
                        .user__avatar.user__avatar--small
                          +image('users/dmitry.png','user__avatar-pic')
                        .user__info
                          .user__info-name Владимир Сабанцев
                          .user__info-occupation Преподаватель
                      hr.divider.divider--gray
                      .review__commentary
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .control-buttons
                        .control-buttons__block
                          span.control-buttons__block-text Править
                          button.edit-button
                            +icon('pencil','edit-button__pic edit-button__pic--purple')
                        .control-buttons__block
                          span.control-buttons__block-text Удалить
                          button.delete-button
                            +icon('remove','delete-button__pic delete-button__pic--red')
